name: Test

on:
  pull_request:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
			- uses: actions/setup-node@v1
        with:
          version: 12
      - uses: ./